.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

data/
audio/inbox/


# Local secret backups
/.env.*
/.env.save

# ESP32 local secrets
firmware/**/secrets.h
firmware/**/secrets.cpp
firmware/**/config_local.h

# PlatformIO
.pio/
firmware/**/.pio/
